# IN CLASS LAB EXERCISE - 04

In [133]:
import pandas as pd
import os
import matplotlib.pyplot as plt
%matplotlib inline

---

**Data Description:-**

**Survival**
0 = No, 1 = Yes

**pclass**
Ticket class
1 = 1st, 2 = 2nd, 3 = 3rd

**sex**
Sex

**Age**
Age in years

**sibsp**
siblings / spouses aboard the Titanic

**parch**
parents / children aboard the Titanic

**ticket**
Ticket number

**fare**
Passenger fare

**cabin**
Cabin number

**embarked**
Port of Embarkation
C = Cherbourg, Q = Queenstown, S = Southampton

----

**Q.no (1) . Write a code to load 'train.csv' as data1 & 'test.csv' as data2.**

---------

**Q.no (2) . Write a code to `concanate` data1 & data2 assign it as  `data_01`.**

----

**Q.no(3). Write a code to show the `count of male and female` in ship using `bar plot` where color is `green`.[USE MATPLOTLIB]**

---

**Q.no(4). Write a code to show the age distribution of passengers in a ship using histogram plot for titanic dataset where `title - 'histogram for age distribution'`, `color is blue`, `bin size is 20`.[USE MATPLOTLIB]**

--------

**Q.no(5). Write a code to plot a boxplot on a `Fare` column for titanic dataset.[USE MATPLOTLIB]**

-----

**Q.no(6). Write a code to plot a scatterplot where x-axis = `Pclass`,y-axis = `Fare` for titanic dataset.[USE MATPLOTLIB]**

------

**Q.no(7) .Write a code to plot boxplot on `x-axis = title`,`y-axis = age` for titanic dataset.[USE MATPLOTLIB]**

----

**Q.no(8). Write a code plot a scatterplot where on `x-axis='Age'` ,`y-axis='Fare'`,`color = 'green'`,`title='scatter plot :Age vs Fare'` for titanic dataset.[USE MATPLOTLIB]**

------

**Q.no(9). Write a code to show a `kde plot` for `'Age'` column for titanic dataset where `title = 'density plot` for `'age'` and `color is red`.[USE MATPLOTLIB]**

-----

**Q.no(10).Write a code to show `Areaplot` for `Age` column and then `sort index` for titanic dataset.[USE MATPLOTLIB]**

----

**Q.no(11). Write a code to show the `pie plot` for a given data below and show pie plot color in `yellow`,`red`,`blue` and use `shadow`,`explode`,`autopct`.**

**foot_ball = 'Penalties', 'Field Goals', 'Free Kicks'**

**goal = [24,58,11].    [USE MATPLOTLIB]**

-------

In [ ]:
import seaborn as sns

**Q.no(12). Write a code to show a `heatmap` that represents the `Correlation` between the columns for titanic dataset.[Use `Seaborn`]**

------

# Data Description


1. symboling: -3, -2, -1, 0, 1, 2, 3. 
2. normalized-losses: continuous from 65 to 256. 
3. make: 
alfa-romero, audi, bmw, chevrolet, dodge, honda, 
isuzu, jaguar, mazda, mercedes-benz, mercury, 
mitsubishi, nissan, peugot, plymouth, porsche, 
renault, saab, subaru, toyota, volkswagen, volvo 

4. fuel-type: diesel, gas. 
5. aspiration: std, turbo. 
6. num-of-doors: four, two. 
7. body-style: hardtop, wagon, sedan, hatchback, convertible. 
8. drive-wheels: 4wd, fwd, rwd. 
9. engine-location: front, rear. 
10. wheel-base: continuous from 86.6 120.9. 
11. length: continuous from 141.1 to 208.1. 
12. width: continuous from 60.3 to 72.3. 
13. height: continuous from 47.8 to 59.8. 
14. curb-weight: continuous from 1488 to 4066. 
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. 
16. num-of-cylinders: eight, five, four, six, three, twelve, two. 
17. engine-size: continuous from 61 to 326. 
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. 
19. bore: continuous from 2.54 to 3.94. 
20. stroke: continuous from 2.07 to 4.17. 
21. compression-ratio: continuous from 7 to 23. 
22. horsepower: continuous from 48 to 288. 
23. peak-rpm: continuous from 4150 to 6600. 
24. city-mpg: continuous from 13 to 49. 
25. highway-mpg: continuous from 16 to 54. 
26. price: continuous from 5118 to 45400.

**Load the automobile dataset.**

---

**Q.no(13). Write a code to show the `boxplot` for `price` column for `automobile dataset`.[Use `Seaborn`].**

----

**Q.no(14). Write a code to show the `distplot` on `price` column for  `automobile dataset`.[using seaborn]**

----

**Q.no(15). Write a code to show the `distplot` on `price` column for  `automobile dataset` `excluding kdeplot`.[using seaborn]**

-----

**Q.no(16). Write a code to show the `distplot` on `price` column for  `automobile dataset` `including 'rug'` and shade.[using seaborn]**

------

**Q.no(17). Write a code to show the `regressionplot` on `x-axis='city_mpg'`,`y-axis='highway_mpg'` for  `automobile dataset` `including 'marker'` and color was `red`.[using seaborn]**

---

**Q.no(18). Write a code to show the `lmplot` on `x-axis='city_mpg'`,`y-axis='highway_mpg'` for  `automobile dataset` `including 'marker'` and color was `red`.[using seaborn]**

-----

**Q.no(19). Write a code to show the `lmplot` on `x-axis='price'`,`y-axis='horsepower'` for  `automobile dataset` including `col='engine_type'`.[using seaborn]**

----

**Q.no(20). Write a code to show `distplot` on `'stroke'` column for `automobile` dataset where `bin size '20'`, `kde is true`.**

------

**Q.no(21). Write a code to show `swarmplot` on `x-axis-'engine_type'` and  `y-axis-'price'` for `automobile` dataset.**

-----

**Q.no(22). Write a code to show `swarmplot` on `x-axis-'engine_type'` and  `y-axis-'stroke'` for `automobile` dataset` and     
      `jitter is true`.**

----

**Q.no(23). Write a code to show `boxplot` on `x-axis-'fuel_type'` and  `y-axis-'price'` for `automobile` dataset`.[use seaborn]**

------

**Q.no(24). Write a code to show `boxplot` on `x-axis-'number_of_cylinders'` and  `y-axis-'price'` for `automobile` dataset`.[use seaborn]**

----

**Q.no(25). Write a code to show `violinplot` on `x-axis-'fuel_type'` and  `y-axis-'horsepower'` for `automobile` dataset` where `palette is 'husl'`.[use seaborn]**

-----

**Q.no(26). Write a code to show `jointplot` on `x-axis-'price'` and  `y-axis-'horsepower'` for `automobile` dataset` where `kind is 'hex'`.   [use seaborn]**

-----

**Q.no(27). Write a code to show `pointplot` on `x-axis-'number_of_cylinders'` and  `y-axis-'horsepower'` for `automobile` dataset` where `capsize is '.1'and `hue - 'fuel_type'`.[use seaborn]**

------

**Q.no(28). Write a code to show `pairplot` on `automobile` dataset.[use seaborn]**

------

# ------------------------------------- HAPPY LEARNING  -------------------------------------

----