In [1]:
#1.Write a Pandas program to sort a given Series.    #use sort_values

In [2]:
#2. Write a Pandas program to add some data to an existing Series.    #use append()

In [3]:
#3. Write a Pandas program to change the order of index of a given series.  #use reindex()
# s = pd.Series(data = [1,2,3,4,5], index = ['A', 'B', 'C','D','E'])

In [4]:
#4. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [5]:
#5. Write a Pandas program to get the items which are not common of two given series.   #use:setxor1d

In [7]:
#6. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series
#use:np.percentile

In [8]:
#7. Stack 2 series vertically (use append ) and 2 series horizontally (use concat)

In [9]:
#8 Change the last character of every word in the series: use map and title
#pd.Series(['how', 'to', 'learn', 'python?'])

In [10]:
#9 Replace space character with '@' in the string 
#ser = pd.Series(list('dbc deb abed gade'))
#use replace

In [11]:
#10 Get the frequency counts of unique items of series
#use value_counts

# Pandas

In [12]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data , index=labels)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [13]:
#1. Write a Pandas program to select the specified columns and rows from a given data frame
#Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.

In [18]:
#2.Write a Pandas program to select the rows the score is between 12 and 21

In [17]:
#3.Write a Pandas program to select the rows where number of attempts in the examination is less than 3 and 
# score greater than 17

In [16]:
#4.Write a Pandas program to change the score in row 'b' to 12.5

In [19]:
#5. Write a Pandas program to count the number of rows and columns of a DataFrame

In [20]:
#6. Write a Pandas program to select the rows where the score is missing, i.e. is NaN

In [21]:
#7.Write a Pandas program to calculate the mean score for each different student in DataFrame.

In [23]:
#8.Write a Pandas program to append a new row 'k' to data frame with new values for each column. 
#Now delete the 'd' row and return the new DataFrame in df1.

In [24]:
#9. Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with 0 and 1.

In [25]:
# 10.Write a Pandas program to insert a new column in existing DataFrame
#new column: country: add whatever values you want to add