In [1]:
#1 import the correct libraries

In [2]:
#2 import train and test csv of titanic

In [4]:
#3 Write a Pandas program to create a Pivot table and calculate mode of Pclass and median of Fare for 
#each gender particularly on the basis of their Embarked position.

In [5]:
#4 Write a Pandas program to create a Pivot table and calculate number of women and men were in a 
#particular cabin class.

In [6]:
#5. Write a code to show how much is the kurtosis in SibSp column for data_01.

In [8]:
#6 Write a code to show how much do the Parch is skewed and its kurtosis in 
#data_01 and observe using kde graph if that is visualised .

In [9]:
#7 Write a code to plot a scatterplot where x-axis = Pclass,y-axis = Fare for titanic dataset.

In [10]:
#8. write a Function to extract the title from the name : 
#titles should be : lady,Master,Miss,Mr, Mrs, Officer, Sir: 
#try mapping extra titles with the above given titles

In [11]:
#9. Write a code to plot boxplot on x-axis = title,y-axis = age for titanic dataset.[USE MATPLOTLIB]

In [12]:
#10. Write a code plot a scatterplot where on x-axis='Age' ,y-axis='Fare',color = 'green',title='scatter plot :Age vs Fare' for titanic dataset.[USE MATPLOTLIB]